# AIDE pour .gitignore
#
# Les ligne commençant par '#' sont des commentaires.
# Ignorer tous les fichiers nommés foo.txt
#foo.txt
# Ignorer tous les fichiers html
#*.html
# à l'exception de foo.html qui est maintenu à la main
#!foo.html
# Ignorer les objets et les archives
#*.[oa]
#
#
######### this .gitignore ####################
*.massi
# IDEs && Text Editors files
*.swp
*.sublime*
nbproject/*
# # logs
# var/logs/*
# !var/logs/.gitkeep
# # json
# var/json/*
# !var/json/model.json
# !var/json/.gitkeep
# # less
# design/css/noedit.css
# design/css/include.noedit.less
# #scripts
# scripts/*
# !scripts/.gitkeep